*.txt
*.wav
*.jpg
/BrazilBeatsUI$1.class
/BrazilBeatsUI.class
/Main.class
/MusicPlayer$BrazilBeatsUI.class
/MusicPlayer.class
/PlayerPanel.class
/Playlist.class
/PlaylistPanel.class
/SearchInterface.class
/SearchResult.class
/Song.class
/SongCache.class
/SourceInterface.class
/SourceInterface_Local.class
/SourceInterface_SoundCloud.class
/SourceInterface_Spotify.class
/SourceInterface_YouTube.class
/User.class
/testAPI.class
/PlaybackOptionsUI.class
/NavigationMenuUI.class
/BeatsVisualizerUI.class
/SongPreviewUI.class
/PlaybackOptionsUI$playbackButtonListener.class
/NavigationMenuUI$1.class
/SongPreviewUI$1.class
/SongPlayer.class
/PlaybackOptionsUI$playbackBarListener.class
/LevenshteinDistance.class
/StringComparator.class
/SongTitleComparator.class
/PlaylistManager.class
/SongQueue.class
/Library.class
/ListDisplayUI.class
/ListDisplayUI$Renderer.class
/PlayQueue.class
/ColorPicker.class
/BeatsVisualizerUI$audioListener.class
/VolumeSlider.class
/SliderDemo2.class
/VolumeSlider$playbackBarListener.class
/VolumeSlider$playbackButtonListener.class
/VolumeSlider$volumeChangerListener.class
/NavigationMenuUI$newPlaylistListener.class
/SearchPanelUI.class
/SearchPanelUI$SearchListener.class
/SearchResults.class
/ListDisplayUI$1.class
/ListDisplayUI$rowSelectionListener.class
/SearchPanelUI$addToPlaylistListener.class
/NavigationMenuUI$newPlaylistButtonListener.class
/NavigationMenuUI$playlistSelectionListener.class
